<?xml version='1.0' encoding='utf-8'?>
<plugin id="cartrack-mikey-plugin" version="3.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MikeyCarTrack</name>
    <description>Mikey CarTrack SDK wrapper for Cordova.</description>
    <license>MIT</license>
    <keywords>cordova,android,mikey,cartrack</keywords>
    <repo />
    <issue />
    <engines>
        <engine name="cordova" version="&gt;=3.0.0" />
    </engines>
    <js-module name="MikeyCarTrack" src="www/MikeyCarTrack.js">
        <clobbers target="window.plugins.MikeyCarTrack" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MikeyCarTrack">
                <param name="android-package"
                    value="com.spheresoftsolutions.cordova.plugin.MikeyCarTrack" />
            </feature>
            <preference name="android-minSdkVersion" value="23" />
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <source-file src="src/android/MikeyCarTrack.java"
            target-dir="src/com/spheresoftsolutions/cordova/plugin" />
        <source-file src="src/android/PermissionManager.java"
            target-dir="src/com/spheresoftsolutions/cordova/plugin" />
        <framework custom="true" src="src/android/plugin.gradle" type="gradleReference" />
        <resource-file src="src/android/aar/blesdk-release_v3.0.2.aar"
            target="../../libs/blesdk-release_v3.0.2.aar" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MikeyCarTrack">
                <param name="ios-package" value="MikeyCarTrack" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>Mikey CarTrack SDK uses Bluetooth to connect to the terminal.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>Mikey CarTrack SDK uses Bluetooth to connect to the terminal.</string>
        </config-file>
        <source-file src="src/ios/MikeyCarTrack.swift" />
        <framework src="CoreBluetooth.framework" />
        <framework src="src/ios/frameworks/CartrackBleLockSDK.xcframework" custom="true" embed="true" />
    </platform>
</plugin>